.title {
  @apply font-bold;
}

.desc {
  @apply text-green-600;
}

.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 11px; 
}

:host {
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}